<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
   </head>

   <body>

      <h3>EasyView</h3>

      <br>
      <br>
      <br>

      <h2>Enter Information</h2>

      <form action = "http://localhost:5000/form" method = POST>
         <fieldset>
            <div class="form">
               {{ form.name.label }}<br>
               {{ form.name }}

               {% for message in form.name.errors %}
               <div>{{ message }}</div>
               {% endfor %}
               <br>

               {{ form.state.label }}<br>
               {{ form.state }}

               {% for message in form.state.errors %}
               <div>{{ message }}</div>
               {% endfor %}
               <br>
               
               {{ form.city.label }}<br>
               {{ form.city }}
               {% for message in form.city.errors %}
               <div>{{ message }}</div>
               {% endfor %}
      
               <br>

               {{ form.submit }} {{ form.cancel }}
            </div>
            
         </fieldset>
      </form>
      
   </body>
</html>